# .app file location based on the scheme you are trying to use. No `/` in the end

app_location=~/Library/Developer/Xcode/DerivedData/KidzoneApp-amblnsqpidwaixccnwxodvaqroqu/

# the bundle id based on the scheme you are trying to use

bundle_id=com.kidzone.KidzoneApp

# list of simulators separated by comma. No spaces allowed between device ids.

simulators_list=197678F2-2672-43C0-B4E7-00FFAC842808,197678F2-2672-43C0-B4E7-00FFAC842808
